<div class="jumbotron">
		<h1>Welcome To My World \o/</h1>
		<p>
			This is the start of a revolution
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			application.
		</p>
		<p>
			<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>

		</p>
</div>